
<nav class="navbar navbar-default">
    <div class="container-fluid">
     
        <a class="navbar-brand" href="#" style="font-size: x-large;">Evergreen Bookstore</a>
      
      <table class="nav navbar-nav">
          <tr style="font-size: x-large;">
        <td class="active" ><a href="#">| Home | </a></td>
        <td><a href="/addBook">Add Book |</a></td>
        <td><a href="/findBook">Book List |</a></td>
        <td><a href="/showbook">Book Detail |</a></td>
        <td><a href="/reviewlist">Reviews |</a></td>
       
    </tr>
     </table>
    </div>
  </nav>
<router-outlet></router-outlet>